/* debug */
[class*="container"] {
  margin: auto;
}
 [class*="row"] {
  margin: 10px auto;
}
[class*="col-"] {
  height: 100px;
  background-color: coral;
}

/* main */
.go {
  height: 400px;
  background-color: #19bd9b
}

.port {
  height: 100px;
  margin: 20px auto;
  background-color: #94f1e4
}
